@model Rentacar.BusinessModels.Car.CarCreateBusinessModel

<h4>CarDataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="CarManufacturerSelect" class="form-label">Car Manufacturer</label>
                <select id="CarManufacturerSelect" name="CarManufacturer" class="form-select">
                    <option value="0">Select Manufacturer</option>
                    @foreach (var manufacturer in ViewBag.CarManufacturerOptions)
                    {
                        <option value="@manufacturer.ID">@manufacturer.Name</option>
                    }
                </select> 
                <a asp-controller="CarManufacturerAdmin" asp-action="Create" class="btn btn-light">+ Add new</a>
            </div>
            <div class="form-group">
                <label for="CarModelSelect" class="form-label">Car Model</label>
                <select id="CarModelSelect" name="CarModelID" class="form-select" disabled>
                    <option value="0">Select Model</option>
                </select> 
                <a asp-controller="CarModelAdmin" asp-action="Create" class="btn btn-light">+ Add new</a>
            </div>
            <div class="form-group">
                <label asp-for="CarBodyTypeID" class="control-label"></label>
                <select class="form-control" asp-for="CarBodyTypeID" asp-items="@Model.CarBodyTypeList">
                    <option disabled selected>Select car type</option>
                </select>
                <span asp-validation-for="CarBodyTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicencePlateNumber" class="control-label"></label>
                <input asp-for="LicencePlateNumber" class="form-control" />
                <span asp-validation-for="LicencePlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturedYear" class="control-label"></label>
                <select asp-for="ManufacturedYear" class="form-select">
                    <option value="0">Select Year</option>
                    @{
                        int yer = DateTime.Now.Year;
                    }
                    @while (yer >= 1672)
                    {
                        <option value="@yer">@yer</option>
                        {
                            yer -= 1;
                        }
                    }
                </select>
                <span asp-validation-for="ManufacturedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeName" class="control-label"></label>
                <input asp-for="CodeName" class="form-control" />
                <span asp-validation-for="CodeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatCount" class="control-label"></label>
                <input asp-for="SeatCount" class="form-control" />
                <span asp-validation-for="SeatCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyFee" class="control-label"></label>
                <input asp-for="DailyFee" class="form-control" />
                <span asp-validation-for="DailyFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedFee" class="control-label"></label>
                <input asp-for="FixedFee" class="form-control" />
                <span asp-validation-for="FixedFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

