@model Rentacar.BusinessModels.Reservation.ReservationDetailsBusinessModel

<div>
    <h4>CarDetailsBusinessModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationBegin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationBegin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfoID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfoID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusValue)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.ID">Back</a>
        <input class="btn btn-danger" type="submit" value="Confirm" />
    </form>
</div>